/* Font-main */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url("../FONT/BeVietnamPro-ExtraLight.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1980px;
    height: auto;
    font-family: 'Be Vietnam Pro';
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 84px;
}
.header__left{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 20px;
}
.logo img{
    margin-top: -6px;
}
.logo img:hover{
    cursor: pointer;
}
.text p{
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Be Vietnam Pro';
}
.header__right p{
    line-height: 84px;
    color:  #ee4d2d;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}
.header__right p:hover{
    cursor: pointer;
}

/* Body */
.wrapper{
    background-color: rgb(238, 78, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
}
.banner{
    background-image: url("../IMG/P_Login/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    width: 600px;
}
.form{
    background-color: #ffffff;
    padding: 20px 15px;
    height: 485px;
    width: 400px;
    border-radius: 5px;
}
.form__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.form__header--text p{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color:rgb(243, 194, 47);
    padding: 10px 15px;
    background-color: rgb(254,250,236);
    height: 60px;
    border: 2px solid#ffbf00;
    margin-left: 10px;
    line-height: 19px;
}
.form__header--maQR{
    background-image: url('../IMG/P_Login/QR_code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
.form__header--maQR:hover{
    cursor: pointer;
}
.form__header--text p::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    top: 170px;
    margin-left: 66px;
}

.form__account input{
    height: 40px;
    width: 345px;
    margin-top: 22px;
    margin-bottom: 5px;
    margin-left: 13px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
    text-indent: 4px;
    font-family: 'Be Vietnam Pro';
    font-weight: 600;
    opacity: 0.5;
    color: black;
    padding: 0 11px;
}
.bt_login button{
    color: white;
    font-size: 15px;
    background-color: rgb(238,77,45);
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 345px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 13px;
}
.bt_login button:hover{
    cursor: pointer;
    background-color: rgb(244, 99, 70);
}
.para{
    display: flex;
    justify-content: space-between;
}
.para p{
    color: #0046ab;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    padding: 6px 13px;
}
.para p:hover{
    cursor: pointer;
}
.line{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.line span{
    color: rgb(196, 196, 196);
    font-size: 13px;
    font-family: sans-serif;
    padding: 0 15px;
}
.line div{
    background-color:  rgb(196, 196, 196);
    height: 1px;
    width: 100%;
}
.bt__login--fb{
    padding: 22px 15px;
    display: flex;
    justify-content: space-between;
}
.bt__login--fb button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 164px;
    height: 40px;
    border:1px solid #c6c6c6;
    border-radius: 3px;
}
.fb{
    background-image: url('../IMG/icon/icon_fb.jpg');
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover;
}
.google{
    background-image: url('../IMG/icon/icon_gg.jpg');
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover;
}
.bt__login--fb button label{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Be Vietnam Pro';
}
.bt__login--fb button:hover{
    background-color: #e6e5e5;
    cursor: pointer;
}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.reg #text{
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-family: 'Be Vietnam Pro';
    font-weight: 600;
    padding: 0 3px;
}
.reg p{
    font-size: 14px;
    color: #ee4d2d;
    font-family: sans-serif;
    font-weight: 500;
}
.reg p:hover{
    cursor: pointer;
}

/* Footer */
.Footer{
    background-color: rgb(245,245,245);
    padding-bottom: 50px;
}
.info{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.info h4{
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}
.info p{
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    line-height: 27px;
    color: black;
}
.info p:hover{
    color: #fe2f06;
    cursor: pointer;
}
.pay img{
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin: 4px;
    background-color: white;
}
.ship img{
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin: 4px;
    background-color: white;
}
.box{
    display: flex;
    margin-top: 25px;
}
.box .box__img--big{
    background-image: url('../IMG/footer/QR_appshopee.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 90px;
    width: 90px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.box__img--3small img{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(230, 227, 227);
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 7px;
}
.underline{
    height: 1px;
    margin: 30px auto;
    border-top:1px solid #c6c6c6;
    width: 1200px;
}
.info__detail .box1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    padding-top: 15px;
}
.box1__left p{
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}
.box1__right ul{
    display: flex;
    list-style: none;
}
.box1__right ul li{
    padding: 0 5px;
    font-weight: 600;
    font-size: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.box1__right ul li:first-child{
    border-left: none;
}
.box1__right li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.box2__a{
    display: flex;
    justify-content: center;
    margin-top: 70px
}
.box2__a ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.box2__a li{
    border-left:1px solid rgba(0, 0, 0, 0.2);
    line-height: 10px;
}
.box2__a a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 600;
    padding: 0px 25px;
}
.box2__a li:first-child{
    border-left: none;
}
.box2__b{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.cn1{
    background-image: url('../IMG/footer/chungnhan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45px;
    width: 120px;
    margin-left: 38px;
}
.cn2{
    background-image: url('../IMG/footer/chungnhan2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width:  55px;
    margin-left: 33px;
}
.box2__c p{
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}
.box2__d{
    margin-top: 25px;
}
.box2__d p{
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}

